<div class="product-summary">
  <div class="wrapper">

    <h2 class="summary-heading">课程 6 大板块</h2>

    <div class="features">

      <div class="feature-row">
        <div class="feature-item">
          <h3 class="feature-heading">工具</h3>
          <p class="description">卡片不是记忆工具，而是创作工具，不是知识消费工具，而是知识生产的工具。</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">技法</h3>
          <p class="description">卡片写作不仅适合快速写作，也适合整理思维，拆分组块，逐个击破。</p>
        </div>
      </div>

      <div class="feature-row">

        <div class="feature-item">
          <h3 class="feature-heading">习惯</h3>
          <p class="description">忘掉灵感吧，习惯更可靠。不管你有无灵感，习惯都会支撑你继续写作。</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">风格</h3>
          <p class="description">写作之风格不是义务，但这世界总有人愿意为简洁清晰准确的写作而努力。</p>
        </div>

      </div>

      <div class="feature-row">

        <div class="feature-item">
          <h3 class="feature-heading">创造</h3>
          <p class="description">写作，归根究底，是一种生活的再创造。如果足够坚持，就能找到内在的自由。</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">作品</h3>
          <p class="description">找到大问题，建立师友网络，寻找学习社群，创作自己的作品，用作品说话。</p>
        </div>
      </div>

    </div><!--/.features-->

    <div class="why-hospitalrun">

      <blockquote>
        <h2>"慢慢来，一切都会快起来。"</h2>
      </blockquote>

      <p class="了解更多"><a href="/blog/2016/06/why-hospitalrun">{% include icons/icon-octicon-file.html %} 了解更多 </a> 课程介绍</p>

    </div>

  </div>
</div>
