<div class="product-summary">
  <div class="wrapper">

    <h2 class="summary-heading">课程 6 大板块</h2>

    <div class="features">

      <div class="feature-row">
        <div class="feature-item">
          <h3 class="feature-heading">工具</h3>
          <p class="description">卡片不是记忆工具，而是创作工具，不是知识消费工具，而是知识生产的工具。</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">技法</h3>
          <p class="description">快速写作是卡片写作的核心技能，也是最炫技的写作技法。</p>
        </div>
      </div>

      <div class="feature-row">

        <div class="feature-item">
          <h3 class="feature-heading">习惯</h3>
          <p class="description">「忘掉灵感吧，习惯更可靠。不管你有没有灵感，习惯都会支持你继续，习惯是实践中的坚持。</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">风格</h3>
          <p class="description">写作之风格不是强制，但世界总有人愿意为之努力。</p>
        </div>

      </div>

      <div class="feature-row">

        <div class="feature-item">
          <h3 class="feature-heading">创造</h3>
          <p class="description">只要某个创意有想象力，明显超越日常水平，有不墨守成规的意识，做事有原创性，即可视为有创造力。</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">作品</h3>
          <p class="description">毕竟，与谈论作品相比，创作者并不需要说太多。</p>
        </div>
      </div>

    </div><!--/.features-->

    <div class="why-hospitalrun">

      <blockquote>
        <h2>"慢慢来，一切都会快起来。"</h2>
      </blockquote>

      <p class="了解更多"><a href="/blog/2016/06/why-hospitalrun">{% include icons/icon-octicon-file.html %} Read more</a> 笨方法学写作课程。</p>

    </div>

  </div>
</div>
