<div class="product-summary">
  <div class="wrapper">

    <h2 class="summary-heading">课程 6 大板块</h2>

    <div class="features">

      <div class="feature-row">
        <div class="feature-item">
          <h3 class="feature-heading">工具</h3>
          <p class="description">最适合写作工具是卡片，卡片不是记忆工具和知识消费工具，而是知识生产工具。</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">技法</h3>
          <p class="description">如何 42 分钟写出 1000 字？卡片写作助你降低写作畏惧，习得快速写作。</p>
        </div>
      </div>

      <div class="feature-row">

        <div class="feature-item">
          <h3 class="feature-heading">习惯</h3>
          <p class="description">忘掉灵感吧，习惯更可靠。不管你有无灵感，习惯都会支持你继续写作。</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">风格</h3>
          <p class="description">写作风格不是义务，但这世界总有人愿意为简洁、清晰、准确的写作而努力。</p>
        </div>

      </div>

      <div class="feature-row">

        <div class="feature-item">
          <h3 class="feature-heading">创造</h3>
          <p class="description">写作，归根究底，是一种生活的再创造。如果足够坚持，就能找到内在的自由。</p>
        </div>

        <div class="feature-item">
          <h3 class="feature-heading">作品</h3>
          <p class="description">为打造自己的作品，你需要找到大问题，建立师友网络，寻找学习社群。</p>
        </div>
      </div>

    </div><!--/.features-->

    <div class="why-hospitalrun">

      <blockquote>
        <h2>"笨办法，往往是最有效的方法。"</h2>
      </blockquote>

      <p class="read-more"><a href="/blog/2017/11/IntroCrouse">{% include icons/icon-octicon-file.html %} 了解更多 </a> 课程介绍</p>

    </div>

  </div>
</div>
